@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h2>John Wathen</h2>
        <h4 class="text-success"><span class="glyphicon glyphicon-ok"></span> On the beach</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Contact</h3>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>John Wathen</dd>
            <dt>Email</dt>
            <dd>john.s.wathen@gmail.com</dd>
            <dt>Phone</dt>
            <dd>(602) 448-3306</dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <h3>Resume</h3>
        <p><a href="#"><span class="glyphicon glyphicon-file"></span> John_Wathen_Resume.pdf</a></p>
        <h3>Skills</h3>
        <ul>
            <li>C#</li>
            <li>ASP.NET</li>
            <li>ASP.NET MVC</li>
            <li>Web Forms</li>
            <li>SQL Server</li>
        </ul>
    </div>
</div>
