@model IEnumerable<SogetiSkills.Core.Models.Tag>
@{
    ViewBag.Title = "Canonical skills";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Canonical skills</h2>
        @if (Model.Any())
        {

        }
        else
        {
            <p>There are no canonical skills.</p>
        }
    </div>
</div>